<div class="workspace-page">
    <!-- ko if: isLoading -->
        <div class="workspace-page__loader-container">
            <loader></loader>
        </div>
    <!-- /ko -->
    <div data-bind="ifnot: isLoading">
        <h2>Workspace name is <span data-bind="text: workspaceName"></span></h2>
        <div class="workspace-page__navigation-container">
            <button data-bind="click: () => showNavigationItem('things')">Show things</button>
            <button data-bind="click: () => showNavigationItem('rules')">Show rules</button>
        </div>
        <router id="workspace-router"  params="{ routes: routes, routerElementId: 'workspace-router' }"></router>
    </div>
</div>