<div>
    <div data-bind="if: isLoading">
        <loader></loader>
    </div>
    <div data-bind="ifnot: isLoading">
        <h2>Workspace name is <span data-bind="text: workspaceName"></span></h2>
        <ul>
            <li><a data-bind="attr: { href: currentUrl() + '/things' }">Things</a></li>
            <li><a data-bind="attr: { href: currentUrl() + '/rules' }">Rules</a></li>
        </ul>
        <router id="workspace-router"  params="{ routes: routes, routerElementId: 'workspace-router' }"></router>
        <h3>Things in the workspace:</h3>
        <div data-bind="foreach: things">
            <thing-card params="{ model: $data }"></thing-card>
        </div>
        <h3>Rules in the workspace</h3>
        <div data-bind="foreach: rules">
            <div data-bind="html: $parent.generateRuleElement($data)"></div>
        </div>
        <div data-bind="ifnot: isCreateRuleFormOpened">
            <button data-bind="click: createRule.bind($data)">Create new rule</button>
        </div>
        <create-rule-modal params="{ isVisible: isCreateRuleFormOpened, rules: rules, things: things }"></create-rule-modal>
    </div>
</div>