<div class="update-workspace-page">
    <h2>Update workspace</h2>
    <form data-bind="submit: handleSubmit">
        <label>
            Workspace name*:
            <input data-bind="value: name"/><br/>
        </label>
        <label>
            Url to the Mozilla IoT Gateway*:
            <input data-bind="value: url"/><br/>
        </label>
        <label>
            Access token*:
            <br/><textarea class="update-workspace-page__access-token-textarea" data-bind="value: token"></textarea><br/>
        </label>
        <button type="submit">Update</button>
    </form>
</div>