<div class="login">
    <h2>Log into your account</h2>
    <form data-bind="submit: handleLogin">
        <label>
            Email*:
            <input class="login__input" data-bind="value: email"/>
            <br/>
        </label>
        <label>
            Password*:
            <input class="login__input" type="password" data-bind="value: password"/>
            <br/>
        </label>
        <button type="submit">Login</button>
    </form>
    <button data-bind="click: handleRedirectToSignUp">Go Sign up page</button><br>
    <button data-bind="click: handleRedirectToHome">Go to Home page</button>
</div>