.execute-rule-step-card {
  display: flex;
  flex-direction: row;
}

.execute-rule-step-card > div {
  padding-left: 10px;
  padding-right: 10px;
}

.execute-rule-step-card__title {
  width: 150px;
}