@use "src/common-styles/buttons";

.rule-card {
  padding: 10px;
  border-bottom: 2px solid gray;

  button {
    @extend %primary-button;
  }
}

.rule-card__title-container:hover {
  cursor: pointer;
}

.rule-card__title-with-buttons-containers {
  display: flex;
  flex-direction: row;
}

.rule-card__buttons-container {
  padding-left: 40px;
}