.change-thing-state-step-edit-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  padding: 5px 5px 5px 10px;
  align-items: center;
}

.change-thing-state-step-edit-card__inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.change-thing-state-step-edit-card__input-container {
  margin-left: 10px;
  margin-right: 10px;
}

.change-thing-state-step-edit-card__input {
  max-width: 100px;
}