%primary-button {
  background-color: #5d9bc7;
  color: whitesmoke;
  padding: 6px;
  border: 2px solid lavender;
  border-radius: 12px;
}

%primary-button:hover {
  cursor: pointer;
  background-color: #6dabc7;
}

%alternative-button {
  background-color: #89b6d6;
  color: whitesmoke;
  padding: 6px;
  border: 2px solid lavender;
  border-radius: 12px;
}

%alternative-button:hover {
  cursor: pointer;
  background-color: #99c6e6;
}