@use "src/common-styles/buttons";

.edit-rule-page {
  button {
    @extend %primary-button;
  }
}

.edit-rule-page__new-step-button {
  margin-bottom: 40px;
}

.edit-rule-page__new-step-card-container {
  label {
    color: whitesmoke;
  }
  button {
    @extend %alternative-button;
  }

  background-color: steelblue;
}